.container{
    width: 100%;
    background-color: #999;
}

.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    opacity: 0.5;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    }

.marker {
    background-image: url('../img/plane2_32.png');
    background-size: cover;
    width: 32px;
    height: 32px;
    box-shadow: 0px 0px 1px 0px #ff0000;
    cursor: pointer;
}

.mapbox-popup{
    transform:none !important;
    top: 0%;
    left: 10x;
    
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip, 
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
    display:none !important;
}

.mapboxgl-popup-close-button{
    display: none;
}

.mapboxgl-popup-content{
    background-color: rgba(255, 255, 255, 0);
    width: 150%;
    height: 200px;
}