.container{
    width: 100%;
    background-color: #999;
}

.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    opacity: 0.5;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    }